{{ template "base" . }}

{{ define "content" }}

<h3>Log in</h3>

<form name="auth_form" onsubmit="return false;">
    <p>
        <label for="username">Username</label> <br>
        <input type="text" name="username">
    </p>

    <p>
        <label for="password">Password</label> <br>
        <input type="password" name="password">
    </p>

    <p>
        <input type="submit" value="Log in" onmouseup="login()">
    </p>
</form>

<script src="/scripts/sha256.js"></script>
<script src="/scripts/user.js"></script>

{{ end }}